/bin/natives
/bin/jinput.jar
/bin/lwjgl.jar
/bin/lwjgl_util.jar
/resources/mod
/resources/sound3/ambient
/resources/sound3/damage
/resources/sound3/dig
/resources/sound3/fire
/resources/sound3/fireworks
/resources/sound3/liquid
/resources/sound3/minecraft
/resources/sound3/mob
/saves
/stats
/texturepacks
/texturepacks-mp-cache
/*.lck
/*.log
/LiteLoader.txt
/output-client.log
/uninstall.dat
/update_cache.xml